In [1]:
numbers = [ x for x in range(100) if x % 2 == 0 and x % 3 == 0]
          
print(numbers)

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [3]:
alist = ['짝수' if i% 2== 0 else '홀수' for i in range(10)]

print(alist)

['짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수']

In [6]:
s=[
    [1,2,3,4,5],
   [6,7,8,9,10],
   [11,12,13,14,15]
]
print(s[1][2])  # 2행3열 을 출력하려면 인덱스 [1][2] 를 출력한다.

print(s[1][2:4])

8
[8, 9]

In [9]:
matrix = [[i for i in range(5)]for _ in range(6)] # [ [ 0,1,2,3,4] for _ in range(6)] 
                                                    #[] 리스트를 6번 채운다.
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [11]:
matrix1 = []

for _ in range(6):
  matrix2= []
  for i in range(5):
    matrix2.append(i)
    matrix1.append(matrix2)

print(matrix1)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [15]:
matrix = [ [0,0,0],[1,1,1],[2,2,2]]
result = []
for row in matrix:
  for num in row:
    result.append(num)

print(result)

[0, 0, 0, 1, 1, 1, 2, 2, 2]

In [42]:
matrix=[['하나','둘','셋'], ['넷','다섯','여섯'],['일곱','여덟','아홉']]
i=1
for row in matrix:
  for num in row:
    print(i,num)
    i+=1

1 하나
2 둘
3 셋
4 넷
5 다섯
6 여섯
7 일곱
8 여덟
9 아홉

In [43]:
fruits = ["apple","banana","grape"]
print(list(enumerate(fruits)))
for index, value in enumerate(fruits):
  print(index,value)

[(0, 'apple'), (1, 'banana'), (2, 'grape')]
0 apple
1 banana
2 grape

In [44]:
aList =[1,2,3,4,5,1,2]
result = {x for x in aList if x%2==0 }
print(result)

{2, 4}

In [ ]:
list1=[1,2,3,4,5]
list2=[3,4,5,6,7]
set(list1)&set(list2)
{3,4,5}

In [48]:
#딕셔너리_이름 = {키1:값1, 키2:값2, 키3:값3,....}
capitals = {}
capitals = {"Korea": "Seoul", "USA": "Washington","UK": "London"}
print(capitals["Korea"])

Seoul

In [49]:
capitals = {}
capitals["Korea"]="Seoul"
capitals["USA"]="Washington"
capitals["UK"]="London"
capitals["France"]="Paris"
print(capitals)

{'Korea': 'Seoul', 'USA': 'Washington', 'UK': 'London', 'France': 'Paris'}

In [50]:
capitals={"korea":"seoul"}
c = capitals.pop("korea")
print(c)
print(capitals)   # .pop 에 의해 값이 빠져나감

seoul
{}

In [53]:
capitals={"Korea":"Seoul","USA":"Washington","UK":"London"}
print(capitals.items())
print(capitals.keys()) # key 값만 반환
print(capitals.values()) # value 값만 반환

dict_items([('Korea', 'Seoul'), ('USA', 'Washington'), ('UK', 'London')])
dict_keys(['Korea', 'USA', 'UK'])
dict_values(['Seoul', 'Washington', 'London'])

In [56]:
capitals={"Korea":"Seoul","USA":"Washington","UK":"London"}
print((list(capitals.items())))
print(capitals.keys()) # key 값만 반환
print(capitals.values()) # value 값만 반환

[('Korea', 'Seoul'), ('USA', 'Washington'), ('UK', 'London')]
dict_keys(['Korea', 'USA', 'UK'])
dict_values(['Seoul', 'Washington', 'London'])

In [62]:
capitals={"Korea":"Seoul","USA":"Washington","UK":"London"}
for k,v in capitals.items():
  print(k,":",v)

Korea : Seoul
USA : Washington
UK : London

In [67]:
capitals={"Korea":"Seoul","USA":"Washington","UK":"London"}

for key in sorted(capitals.keys()):
  print(key,end=" ")

Korea UK USA

In [68]:
values=[1,2,3,4,5,6]

dic={x : x**2 for x in values if x%2==0}
print(dic)

{2: 4, 4: 16, 6: 36}

In [72]:
s = input("문자열을 입력하시오:")

s1 = s[::-1]   #문자열을 거꾸로 만든다.

if(s==s1):
  print("회문입니다.")
else:
  print("회문이 아닙니다.")

문자열을 입력하시오:dad
회문입니다.

In [74]:
"ABCabc".isalpha()
# True
"123".isdigit()
# True
"abc".islower()
# True

True

In [9]:
class Avante:
  def __init__(self, price): #initialization 
    print("객체생성")
    print(price)
oshAvante = Avante(2500)

객체생성
2500

In [2]:
class Sonata:
  def __init__(self, price):
    self.price=price
    
kmjSonata=Sonata(2500)
kmjSonata.price

kcsSonata = Sonata(3000)

2500
3000

In [6]:
class Sonata:
  def __init__(self,price,color):
    self.price = price
    self.color = color

  def driving(self):
    print("주행을 시작합니다")

kmjSonata = Sonata(2500, "black")

print(kmjSonata.price)
print(kmjSonata.color)

kmjSonata.driving()

Sonata.driving(kmjSonata)

2500
black
주행을 시작합니다
주행을 시작합니다

In [12]:
class Counter:
  def __init__(self):
    self.count = 0
  
  def increament(self):
    self.count += 1


a = Counter()

print(a.count)

a.increament()

print(a.count)

a.increament()

print(a.count)

0
1
2

In [13]:
class Counter:
  def __init__(self):
    self.count = 0
  def increament(self):
    self.count += 1
c = Counter()

In [14]:
class Counter:
  def __init__(self, initValue=0):
    self.count = initValue
  def increament(self):
    self.count +=1

a = Counter(100)
b = Counter()

In [15]:
import math 

class Circle:  # Circle 클래스를 정의한다.
  def __init__ (self, radius=0):
    self.radius=radius

  def getArea(self):
    return math.pi * self.radius * self.radius

  def getPerimeter(self):
    return 2 * math.pi * self.radius

c = Circle(10)  # Circle 객체를 생성한다.
print("원의 면적", c.getArea())
print("원의 둘레", c.getPerimeter())

원의 면적 314.1592653589793
원의 둘레 62.83185307179586

In [30]:
class Car:
  def __init__(self, speed, color, model):
    print("자동차 객체를 생성하였습니다.")
    self.__speed = speed   # __ 언더바를 통해 정보은닉 가능능
    self.color = color
    self.model = model

  def getSpeed(self):
    return self.__speed
  def setSpeed(self, speed):
    self.__speed = speed

newCar = Car(0,"blue","E-class")
print(newCar.getSpeed())

newCar.setSpeed(10)
print(newCar.getSpeed())

자동차 객체를 생성하였습니다.
0
10
자동차의 색상은 blue
자동차의 모델은 E-class

In [34]:
class Counter:
  value = 0
  def __init__(self):
    Counter.value += 1
    self.count = Counter.value

a = Counter()

print(a.count)

b = Counter()

print(b.count)

print(a==b)

1
2
False

In [40]:
class Counter:
  def __init__(self, value):
    self.count = value
  def __eq__(self, other):
    print("eq메소드 실행!")
    return self.count == other.count
  def __str__(self):
    return "객체 출력!"

a = Counter(10)
b = Counter(10)

print("=================")
print(a==b)

print(a)

=================
eq메소드 실행!
True
객체 출력!

In [58]:
class Vector2D:
  def __init__(self,x,y):
    self.x = x 
    self.y = y

  def __add__(self, other):
   # print(self.x, other.x)
   # print(self.y, other.y)
   # print(self.x + other.x, self.y + other.y)
    return Vector2D(self.x + other.x, self.y + other.y)
    
  def __str__(self):
    return f'({self.x}, {self.y})'
    
u = Vector2D(0,1)
v = Vector2D(1,0)

a = u + v

print(a)

(1, 1)

In [60]:
class Car:    #부모 
  def __init__(self, Car_price, color, km):
    self.Car_price = Car_price # = 3000
    self.color = color # = "red"
    self.km = km # = "12km"

class Avante(Car):      #자식식
  def __init__(self, Car_price,  color, km, year):
    super().__init__(Car_price, color, km)
    #self.Car_price = Car_price # = 3000
    #self.color = color # = "red"
    #self.km = km # = "12km"                  #부모에게 항목들을 상속받음
    self.year = year

kmjAvante = Avante(3000, "red", "12km", "2023")
kmjAvante.Car_price

3000