In [1]:
def get_area(radius):
  area = 3.14*radius**2
  return area

result = get_area(3)
print("반지름이 3인 원의 면적=", result)

반지름이 3인 원의 면적= 28.26

In [3]:
def get_input():
  return 2,3

  x,y = get_input()   #x는 2이고 y는 3이다.

In [4]:
def sub():
  pass  # 몸체는 나중에 작성하고 싶은 경우 pass 키워드를 사용할 수 있다.

In [5]:
def main():
  result1= get_area(3)
  print("반지름이 3인 원의 면적=", result1)

In [6]:
def test(*a):
  print(a)

test(10,20,30)   # *a 처럼 * 를 하게 되면 여러개의 값을 가질 수 있는 a가 된다.

(10, 20, 30)

In [8]:
def varfunc(*args):
  print(args)

print("하나의 값으로 호출")
varfunc(10)

print("여러 개의 값으로 호출")
varfunc(10,20,30)

하나의 값으로 호출
(10,)
여러 개의 값으로 호출
(10, 20, 30)

In [18]:
a = {"하나":1, "둘":2, "셋":3}

print(a)
print(type(a))
print(a["하나"])
print(a.values())
print(a.keys())

{'하나': 1, '둘': 2, '셋': 3}
<class 'dict'>
1
dict_values([1, 2, 3])
dict_keys(['하나', '둘', '셋'])

In [22]:
def factorial(n):
  if n ==1:
    return(1)
  else:
      return n*factorial(n-1)

n = eval(input("정수를입력하시오:"))
print(n,"!=", factorial(n))

정수를입력하시오:4
4 != 24

In [25]:
gx = 100
g = 200
def myfunc():
    global gx   # 함수 안에서 전역변수 변경하기. 전역변수 gx를 사용한다.
    gx = g
    print(gx)

myfunc()
print(gx)

200
200

In [2]:
questions =['name','quest','color']
answers=['Kim','파이썬','blue']
for q, a in zip(questions, answers):
  print(f"What is your {q}? It is {a}")

What is your name? It is Kim
What is your quest? It is 파이썬
What is your color? It is blue

In [3]:
scores = [10.0, 9.0, 8.3, 7.1, 3.0, 9.0]
print("제거전", scores)
scores.remove(max(scores))
scores.remove(min(scores))
print("제거후", scores)

제거전 [10.0, 9.0, 8.3, 7.1, 3.0, 9.0]
제거후 [9.0, 8.3, 7.1, 9.0]

In [7]:
squares=[]

for x in range(10):
  squares.append(x*x)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
#형식 : [수식 for (변수 in 리스트) if (조건)]
squares = [x*x for x in range(10)]

In [ ]:
prices = [135, -545, 922, 356, -992, 217]
mprices = [i if i>0 else 0 for i in prices]
mprices
[135,0,922,356,0,217]

words=["All", "good", "things", "must", "come", "to", "an", "end."]
letters = [ w[0] for w in words]
letters
['A', 'g', 't', 'm', 'c', 't', 'a', 'e']

numbers=[x+y for x in ['a','b','c'] for y in['x','y','z']]
numbers
['ax','ay','az','bx','by','bz','cx','cy','cz']

numbers =[]
for x in [ 'a', 'b', 'c']:
  for y in ['x', 'y', 'z']:
    numbers.append(x+y)
print(numbers)