01 

"뉴딜" 문자열을 화면에 출력하는 print_new() 함수를 정의하라.

In [13]:
def print_new():
  print("뉴딜")

02

01번에서 정의한 함수를 호출하라.

In [26]:
def print_new():
  print("뉴딜")

print_new()

뉴딜

03

01번에서 정의한 print_new 함수를 100번호출하라.

In [ ]:
for i in range(100):
  print_new()

04

"뉴딜" 문자열을 100번 화면에 출력하는 new_prints() 함수를 정의하라.

In [ ]:
def new_prints():
  for i in range(100):
    print("뉴딜")

new_prints()

05

아래의 에러가 발생하는 이유에 대해 설명하라.

```
hello()
def hello():
    print("Hi")
```

실행 예
```
NameError: name 'hello' is not defined
```

In [ ]:
hello() 함수를 호출하기 전에 hello() 함수를 정의하려고 시도 했기 때문.

06

아래 코드의 실행 결과를 예측하라.

```
def message() :
    print("A")
    print("B")

message()
print("C")
message()
```

In [23]:
A
B
C
A
B

NameError: ignored

07

아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

```
print("A")

def message() :
    print("B")

print("C")
message()
```

In [ ]:
A
C
B

08

아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)
```
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()
```

In [ ]:
A
C
B
E
D

09

아래 코드의 실행 결과를 예측하라.

```
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()
```

In [ ]:
B
A

10

아래 코드의 실행 결과를 예측하라.

```
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

```

In [ ]:
B
C
B
C
B
C
A

11


함수의 호출 결과를 예측하라.
```
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")
```

In [32]:
안녕
Hi

안녕
Hi

12

함수의 호출 결과를 예측하라.

```
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)
```

In [ ]:
7
15

13

아래와 같은 에러가 발생하는 원인을 설명하라.

```
def 함수(문자열) :
    print(문자열)

함수()
```

```
TypeError: 함수() missing 1 required positional argument: '문자열'
```

In [ ]:
함수 호출시 인자를 전달하지 않았기 때문

14

아래와 같은 에러가 발생하는 원인을 설명하라.
```
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
```

In [ ]:
타입이 다르기 때문

15

하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [37]:
def print_with_smile(char):
  print(char+":D")

16

15에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

In [40]:
def print_with_smile(char):
  print(char+":D")

print_with_smile("안녕하세요")

안녕하세요:D

17

현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [44]:
def print_upper_price(a):
  print(a*1.3)

print_upper_price(50000)

65000.0

18

두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [45]:
def print_sum(a,b):
  print(a+b)
print_sum(1,3)

4

19

두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

In [47]:
def print_arithmetic_opperation(a,b):
  print(a+b)
  print(a-b)
  print(a*b)
  print(a/b)
print_arithmetic_opperation(4,2)

6
2
8
2.0

20

세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [49]:
def print_max(a,b,c):
  max_value = 0
  if a > max_value:
    max_value=a
  if b > max_value:
    max_value=b
  if c > max_value :
    max_value=c
  print(max_value)
print_max(1,5,3)

5

21

입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

```
print_reverse("python")
```

```
nohtyp
```

In [52]:
def print_reverse(a):
  print(a[::-1])

print_reverse("python")

nohtyp

22

성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.
```
print_score ([1, 2, 3])
```
```
2.0
```

In [83]:
def print_score(list):
  print(sum(list)/len(list))

print_score([10,20,30,60])

30.0

23

하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.
```
print_even ([1, 3, 2, 10, 12, 11, 15])
```
```
2
10
12
```

In [64]:
def print_even(number):
  for i in number:
    if i % 2 ==0:
      print(i)

print_even([1,3,2,10,12,11,15])

2
10
12

24

하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

```
print_keys ({"이름":"김말똥", "나이":30, "성별":0})
```

```
이름
나이
성별
```

In [66]:
def print_keys(a):
  for key in a.keys():
    print(key)
print_keys({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

25

입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

```
print_5xn("아이엠어보이유알어걸")
```
```
아이엠어보
이유알어걸
```

In [88]:
def print_5xn(string):
  for i in range(0, len(string), 1):
    print(string[i*5:i*5+5])    

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

26

문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

```
printmxn("아이엠어보이유알어걸", 3)
```
```
아이엠
어보이
유알어
걸
```

In [94]:
def print_mxn(s, count):
  numline = int(len(s)/count)
  for i in range(numline+1):
    print(s[i*3:i*3+3])

print_mxn("아이엠어보이유알어걸",3)

아이엠
어보이
유알어
걸

27

연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 

이 때 1원 미만은 버림한다.

```
calc_monthly_salary(12000000)
```
```
1000000
```

In [95]:
def calc_monthly_salary(annual_salary):
  monthly_salary = int(annual_salary/12)
  print(monthly_salary)

calc_monthly_salary(12000000)

1000000

28

아래 코드의 실행 결과를 예측하라.

```
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

```
my_print(a=100, b=200)

In [ ]:
왼쪽 : 100
오른쪽 : 200

29

아래 코드의 실행 결과를 예측하라.

```
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)
```
```
my_print(b=100, a=200)
```

In [ ]:
왼쪽 : 200
오른쪽 : 100

30

아래 코드를 실행한 결과를 예상하라.

```
def n_plus_1 (n) :
    result = n + 1
```
```
n_plus_1(3)
print (result)
```

In [ ]:
4

31

문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.
```
make_url("naver")
```
```
www.naver.com
```

In [75]:
def make_url(a):
  print("www."+a+".com")

make_url("naver")

www.naver.com

32

문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

```
make_list("abcd")
```
```
['a', 'b', 'c', 'd']
```

In [80]:
def make_list(s):
  result=[]
  for i in s:
    result.append(i)
  return result
make_list("abcd")

['a', 'b', 'c', 'd']

33

숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

```
pickup_even([3, 4, 5, 6, 7, 8])
```
```
[4, 6, 8]
```

In [96]:
def pickup_even(list):
  result=[]
  for i in list:
    if i%2 ==0 :
      print(i)
pickup_even([3,4,5,6,7,8])

4
6
8

34

콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

```
convert_int("1,234,567")
```
```
1234567
```

In [97]:
def convert_int(num):
  return int(num.replace(',',''))
  print(num)

convert_int("1,234,567")

1234567

35

아래 코드의 실행 결과를 예측하라.

```
def 함수(num) :
    return num + 4


a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)
```

In [ ]:
22

36

아래 코드의 실행 결과를 예측하라.

```
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)
```

In [ ]:
22

37

아래 코드의 실행 결과를 예측하라.

```
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)
```

In [ ]:
140

38

아래 코드의 실행 결과를 예측하라.

```
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)
```

In [ ]:
16

39
아래 코드의 실행 결과를 예측하라.

```
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)
```

In [ ]:
28