In [1]:
3.14 * 10 * 10

314.0

In [2]:
3.14 * 10**2

314.0

In [3]:
import math
math.sin(math.radians(40))

0.6427876096865393

In [4]:
"안녕하세요"

'안녕하세요'

In [6]:
'안녕하세요'

'안녕하세요'

In [7]:
print('안녕하세요')

안녕하세요

In [11]:
print("결과값은",10,"입니다.")

결과값은 10 입니다.

In [12]:
"나의" + "고양이"

'나의고양이'

In [13]:
"Hello"*10

'HelloHelloHelloHelloHelloHelloHelloHelloHelloHello'

In [14]:
print("2+3=", 2+3)

2+3= 5

In [15]:
x = 10000
y = 20000

In [16]:
print(x)

10000

In [17]:
sum = x+y

In [19]:
print("합은", sum)

합은 30000

In [20]:
radius=10

In [21]:
area = 3.14 * radius * radius

In [23]:
print("반지름", radius, "인 원의 면적=", area)

반지름 10 인 원의 면적= 314.0

In [28]:
type(12.30) #자료형을 알 수 있음

float

In [25]:
type("hello")

str

In [34]:
x = y = z = 0
x,y,z = 10, 20, 30
x,y = y,x

In [36]:
x=1000
print("초깃값 x=", x)
x +=2;
print("x +=2 후의 x=", x)
x -=2;
print("x -=2 후의 x=", x)

# x += y  === x = x+y

초깃값 x= 1000
x +=2 후의 x= 1002
x -=2 후의 x= 1000

In [39]:
x=3.14
y=str(x)
print(y)
print(type(y))

3.14
<class 'str'>

In [52]:
price = 12345
tax = price * 0.075
tax = round(tax,2) # round = 반올림 (변수명, 반올림하고싶은 위치)
print(tax)

'tax = round(tax,2) # round = 반올림 (변수명, 반올림하고싶은 위치)\nprint(tax)'

In [42]:
msg = "철수가 '안녕' 이라고 말했습니다."
print(msg)

철수가 '안녕' 이라고 말했습니다.

In [51]:
a ="""  안녕하세요   
  김명진 입니다.
  아아아아afeafadsf123"""
print(a)  # """ ~~~~~ """ , ''' ~~~~~ ''' 큰따옴표, 작은따옴표는 문단을 구성할때

  안녕하세요
  김명진 입니다.
  아아아아afeafadsf123

In [61]:
print("말 한마디로 \n 천냥빚을 갚는다.")
# \n = 줄바꿈
#    \t = 탭문자
#    \\ = 역슬래시 자체를 넣고 싶을 때
#    \" = 큰따옴표 자체
#    \' = 작은따옴표 자체

말 한마디로
 천냥빚을 갚는다.

In [66]:
# 0   1    2  3  4  5  6  7  8  9  10
# H   e    l  l  o     w  o  r  l  d
# -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 
s = "Hello World"
print(s[0]+s[6])

print(s[-1])
print(s[0:2]) # :를 통해 0번째 인덱스에서 2번째 인덱스 전 까지 출력

HW
d
He

In [71]:
name = "Harry Parter"
lower_name = name.lower()
print(name)


name = "Harry Parter"
new_name = name.replace("Parter", "Porter")
print(new_name)

Harry Parter
Harry Porter

In [76]:
name=input("이름을 입력하시오: ")
print(name)

이름을 입력하시오: 홍길동
홍길동

In [77]:
x = input("첫 번째 정수를 입력하시오:")
y = input("두 번째 정수를 입력하시오:")
sum = x+y
print("합은", sum)

첫 번째 정수를 입력하시오:300
두 번째 정수를 입력하시오:400
합은 300400

In [80]:
s1 = int(input("첫 번째 정수를 입력하시오:"))
print(s1)
type(s1)

첫 번째 정수를 입력하시오:100
100

int

In [83]:
x = 100
y = 200
print(x, "와", y, "의 합=", x+y)

print(f"{x}와 {y}의 합={x+y}")

100 와 200 의 합= 300
100와 200의 합=300

In [87]:
py = 7.1234
print("테스트 출력 %10.1f" %py) # 소수점뒤의 숫자는 몇번째 자리 까지 출력, f는 float 형으로 나타내기 위함

테스트 출력        7.1

In [93]:
a = "안녕하세요"
a[2]

'하'

In [91]:
a[0:2]

'안녕'

In [92]:
a[0:5:2] #특수 슬라이싱

'안하요'

In [95]:
a[-2] #인버스 인덱싱

'세'

In [97]:
a[::-1] # 거꾸로 출력

'요세하녕안'

In [98]:
a[::-2]

'요하안'

In [104]:
price = int(input("상품의 가격:"))

if price > 20000:
  shipping_cost=0
else : 
  shipping_cost=3000

print("배송비 = ",shipping_cost)

상품의 가격:30000
배송비 =  0

In [ ]:
#들여쓰기가 아주 중요하다. if-else 문에서도 들여쓰기가 잘못되면 오류가 발생한다.

In [106]:
radius = 100
flag = (radius > 32)
print(flag)

True

In [107]:
#문자열 비교
s1="Audrey Hepburn"
s2="Grace Kelly"
print(s1 < s2) #맨 앞글자가 높은 순서대로 비교한다.

True

In [109]:
from math import sqrt

n=sqrt(3.0)
if n*n == 3.0 :
  print("sqrt(3.0)*sqrt(3.0)은 3.0과 같다.")
else :
  print("sqrt(3.0)*sqrt(3.0)은 3.0과 같지않다.")

sqrt(3.0)*sqrt(3.0)은 3.0과 같지않다.

In [112]:
x = int(input("첫 번째 수 ="))
y = int(input("두 번째 수 ="))
max_value = (x if x > y else y)
min_value = (y if x > y else x)
print("큰 수=", max_value, "작은 수=", min_value)

첫 번째 수 =10
두 번째 수 =20
큰 수= 20 작은 수= 10

In [119]:
number = int(input("정수를 입력하시오:"))

if number %2 == 0 :
  print("짝수입니다.")
else:
  print("홀수입니다.")

정수를 입력하시오:6
짝수입니다.

In [124]:
price = int(input("가격을 입력하시오:"))
card = input("카드종류를 입력하시오:")

if price > 20000 and card == "python" :
  print("배송료가 없습니다.")
else :
  print("배송료는 3000원 입니다.")

가격을 입력하시오:10000
카드종류를 입력하시오:python
배송료는 3000원 입니다.

In [130]:
num = int(input("정수를 입력하시오:"))

if num >0:
  print("양수입니다.")
elif num ==0:
  print("0입니다.")
else:
  print("음수입니다.")

정수를 입력하시오:10
양수입니다.

In [143]:
num = float(input("리히터 규모를 입력하시오:"))

if num<2 :
  print("지진계에 의해서만 탐지 가능합니다.")
elif num<4 :
  print("물건들이 흔들리거나 떨어집니다.")
elif num<7 :
  print("빈약한 건물에 큰 피해가 있습니다.")
elif num<8 :
  print("지표면에 균열이 발생합니다.")
else :
  print("대부분의 구조물이 파괴됩니다.")

리히터 규모를 입력하시오:5.2
빈약한 건물에 큰 피해가 있습니다.

In [145]:
num = float(input("리히터 규모를 입력하시오:"))

if num >= 8.0 :
  print("대부분의 구조물이 파괴됩니다.")
elif num>=7.0 :
  print("지표면에 균열이 발생합니다.")
elif num>=4.0 :
  print("빈약한 건물에 큰 피해가 있습니다.")
elif num>=2.0 :
  print("물건들이 흔들리거나 떨어집니다.")
else :
  print("지진계에 의해서만 탐지 가능합니다.")

리히터 규모를 입력하시오:5.2
빈약한 건물에 큰 피해가 있습니다.

In [150]:
for i in range(5) :
  print(i)
for i in range(1,6) :
  print(i)
for i in range(1,6,2) :
  print(i)

0
1
2
3
4
1
2
3
4
5
1
3
5

In [149]:
for i in range(5, 0, -1):
  print(i)

5
4
3
2
1

In [153]:
for i in range(1,6,1):
  print(i, end=" ")

1 2 3 4 5

In [154]:
for i in range(10,0,-1):
  print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

In [155]:
sum = 0
n = 10
for i in range(1, n+1):
  sum = sum + i
  print("합=", sum)

합= 1
합= 3
합= 6
합= 10
합= 15
합= 21
합= 28
합= 36
합= 45
합= 55

In [157]:
for i in range(1,6) :
  print("9*", i, "=", 9*i)

9* 1 = 9
9* 2 = 18
9* 3 = 27
9* 4 = 36
9* 5 = 45

In [160]:
TARGET = 2000
money = 1000
year = 0
rate = 0.07

while money < TARGET :
  money = money + money * rate
  year = year + 1
  print(year,"년")

1 년
2 년
3 년
4 년
5 년
6 년
7 년
8 년
9 년
10 년
11 년

In [163]:
dan = int(input("원하는 단은:"))
i = 1

while i <=9:
  print("%s*%s=%s" % (dan, i, dan*i))
  i=i+1

원하는 단은:9
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [165]:
for i in range(5):
  for j in range(5):
    print("i", i,"j",j)

i 0 j 0
i 0 j 1
i 0 j 2
i 0 j 3
i 0 j 4
i 1 j 0
i 1 j 1
i 1 j 2
i 1 j 3
i 1 j 4
i 2 j 0
i 2 j 1
i 2 j 2
i 2 j 3
i 2 j 4
i 3 j 0
i 3 j 1
i 3 j 2
i 3 j 3
i 3 j 4
i 4 j 0
i 4 j 1
i 4 j 2
i 4 j 3
i 4 j 4

In [171]:
for y in range(5):
  for x in range(10):
    print("*", end="")
  print("")

**********
**********
**********
**********
**********

In [173]:
adj=["small","medium","large"]
nouns=["apple","banana","grape"]
for x in adj:
  for y in nouns:
    print(x,y)

small apple
small banana
small grape
medium apple
medium banana
medium grape
large apple
large banana
large grape

In [175]:
while True:
  light = input('신호등 색상을 입력하시오')
  if light == 'red':
    break
    print('정지!!')

신호등 색상을 입력하시오green
신호등 색상을 입력하시오yellow
신호등 색상을 입력하시오red

In [178]:
for i in range(1,11):
  if i%3 == 0:
    continue
  print(i,end=" ")

1 2 4 5 7 8 10